.toggle {
  display: flex;
  gap: 8px;
  padding: 16px 20px 0;

  .toggleButton {
    padding: 6px 14px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(255 255 255 / 6%);
    border: 1px solid rgb(255 255 255 / 25%);
    color: #fff;
    font-size: 14px;
    transition: 0.2s;

    &:hover {
      background-color: rgb(255 255 255 / 15%);
    }
  }

  .toggleButtonActive {
    background-color: rgb(var(--color-primary-rgb), 0.5);
    border-color: var(--color-primary);
  }
}

.wrapper {
  display: flex;
  justify-content: safe center;
  gap: 1px;
  margin: 16px auto 24px;
  padding-bottom: 8px;
  overflow-x: auto;

  .week {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 1px;
  }
}
