.filters {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 80px;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 24px;
  background-color: rgb(255 255 255 / 6%);
  border: 1px solid rgb(255 255 255 / 15%);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgb(0 0 0 / 35%);

  .label {
    font-weight: 700;

    &.empty {
      color: #888;
    }
  }

  .filterButton {
    padding: 6px 14px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(255 255 255 / 6%);
    border: 1px solid rgb(255 255 255 / 25%);
    color: #fff;
    font-size: 14px;
    transition: 0.2s;

    &:hover {
      background-color: rgb(255 255 255 / 15%);
    }
  }

  .filterButtonActive {
    background-color: rgb(var(--color-primary-rgb), 0.5);
    border-color: var(--color-primary);
  }
}
