:root {
  --max-width: 1200px;
  --color-primary: #1d4ed8;
  --color-primary-rgb: 29, 78, 216;
  --color-success: #16a34a;
  --color-success-rgb: 22, 163, 74;
  --color-error: #dc2626;
  --color-error-rgb: 220, 38, 38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #014 0%, #112256 100%);
  background-attachment: fixed;
  color: #eee;
  background-image:
    linear-gradient(
      216deg,
      rgb(77 77 77 / 5%) 0%,
      rgb(77 77 77 / 5%) 25%,
      rgb(42 42 42 / 5%) 25%,
      rgb(42 42 42 / 5%) 38%,
      rgb(223 223 223 / 5%) 38%,
      rgb(223 223 223 / 5%) 75%,
      rgb(36 36 36 / 5%) 75%,
      rgb(36 36 36 / 5%) 100%
    ),
    linear-gradient(
      44deg,
      rgb(128 128 128 / 5%) 0%,
      rgb(128 128 128 / 5%) 34%,
      rgb(212 212 212 / 5%) 34%,
      rgb(212 212 212 / 5%) 57%,
      rgb(25 25 25 / 5%) 57%,
      rgb(25 25 25 / 5%) 89%,
      rgb(135 135 135 / 5%) 89%,
      rgb(135 135 135 / 5%) 100%
    ),
    linear-gradient(
      241deg,
      rgb(55 55 55 / 5%) 0%,
      rgb(55 55 55 / 5%) 14%,
      rgb(209 209 209 / 5%) 14%,
      rgb(209 209 209 / 5%) 60%,
      rgb(245 245 245 / 5%) 60%,
      rgb(245 245 245 / 5%) 69%,
      rgb(164 164 164 / 5%) 69%,
      rgb(164 164 164 / 5%) 100%
    ),
    linear-gradient(
      249deg,
      rgb(248 248 248 / 5%) 0%,
      rgb(248 248 248 / 5%) 32%,
      rgb(148 148 148 / 5%) 32%,
      rgb(148 148 148 / 5%) 35%,
      rgb(202 202 202 / 5%) 35%,
      rgb(202 202 202 / 5%) 51%,
      rgb(181 181 181 / 5%) 51%,
      rgb(181 181 181 / 5%) 100%
    ),
    linear-gradient(92deg, hsl(214deg 0% 11%), hsl(214deg 0% 11%));
}
