:root {
  --max-width: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #383838 0%, #3b3342 100%);
  background-attachment: fixed;
  color: #eee;
}