.table {
  border-collapse: collapse;
  border: 1px solid #fff;
  max-width: var(--max-width);
  margin: 0 auto;
  font-size: 16px;

  th,
  td {
    padding: 8px 16px;
    border: 1px solid #fff;
    text-align: left;
  }

  td:has(.tags) {
    width: 400px;
  }

  .titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    .title {
      color: #fff;
      text-align: left;
      transition: 0.3s;

      &:hover {
        color: blue;
      }
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    letter-spacing: 0.5px;
  }

  .acCount {
    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
      font-weight: 700;
    }
  }
}
