.button {
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgba(0, 100, 255, 0.1);
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  transition: 0.2s;

  &:hover {
    background-color: rgba(0, 100, 255, 0.5);
  }
}
