.wrapper {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.spinner {
  position: relative;
  width: 60px;
  height: 60px;
}

.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  transform: rotate(calc(var(--i) * 45deg)) translate(24px, -5px);
  animation: fade 0.8s linear infinite;
  animation-delay: calc(var(--i) * 0.1s);
}

@keyframes fade {
  0%,
  100% {
    opacity: 0.15;
  }
  50% {
    opacity: 1;
  }
}
