.snackBar {
  position: fixed;
  bottom: 30px;
  left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 4px 24px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 var(--box-shadow-color);

  .title {
    font-size: 18px;
  }

  &.success {
    background-color: var(--color-success);
  }

  &.error {
    border-left-color: var(--color-error);
  }

  .closeButton {
    padding: 4px;
    background: none;
    border: none;
    color: var(--font-color);
    font-size: 36px;
    line-height: 1;
    cursor: pointer;
  }
}
